@font-face {
    font-family: 'Montserrat-Light';
    src: url(font/Montserrat-Light.ttf);
}
@font-face {
    font-family: 'Montserrat';
    src: url(font/Montserrat-Regular.ttf);
}
@font-face {
    font-family: 'Montserrat-Bold';
    src: url(font/Montserrat-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}
body{
    background-color: #131415;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 16px;
}
.populares {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.populares h6 {
    font-weight: 500;
    font-size: 1.25em;
    color: white;
    width: 60%;
}

.populares .cartas {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
    flex-wrap: wrap;
    margin-top: 1.875em;
}

.populares .cartas .card {
    width: 18.75em;
    height: 15.625em;
    padding-top: 1rem;
    padding-left: 1.375em;
    padding-right: 1.375em;
    background: #252525;
    border-radius: 15px;
    box-shadow: 0px 0px 50px rgba(1, 2, 7, 0.5);
    overflow: hidden;
    text-align: justify;
    transition: all 0.25s;
}

.populares .cartas .card:hover{
    transform: translateY(-10px);
    box-shadow: 0 12px 11px rgba(0, 0, 0, 0.2);
}

.populares .cartas .card img {
    width: 95%;
    padding-left: 0.625rem;
    justify-content: center;
    height: 50%;
}
.populares .cartas .card h6{
    font-weight: 300;
    font-size: small;
    color: white;
    padding: 0 1rem;
    margin-top: 10px;
}

.populares .cartas .card p {
    font-family: 'Montserrat';
    font-weight: 200;
    font-size: smaller;
    padding: 0 1rem;
    margin-top: 10px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    opacity: 0.3;
}

.populares .cartas .card .precio2{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.populares .cartas .card .precio2 h6{
    width: 6ch;
    font-family: Montserrat-Bold;
    font-weight: 900;
    font-size: 1.25em;
    background: linear-gradient(90deg, rgba(255,161,0,1) 0%, rgba(251,16,61,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

<<<<<<< HEAD
.populares .cartas .card .precio2 .boton {
=======
.populares .cartas .card .precio button {
>>>>>>> 4d530f6830d50100b7d2c086389be29ee8a0f9ed
    border: none;
    border-radius: 20px; 
    padding: 0.625em 1.625em;
    color: white;
    background: linear-gradient(90deg, rgba(255,161,0,1) 0%, rgba(251,16,61,1) 100%);
    font-weight: 700;
    font-size: 0.9375rem;
    cursor: pointer;
}

.footerlist {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    list-style: none;
}

.footerlist a {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 1.125rem;
    color: white;
    text-decoration: none;
}

footer {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.test {
    display: flex;
}

    /* Extra large devices */
 @media (max-width: 1200px) and (min-width: 801px) {
    body {
        font-size: 14px;
    }
 }

 /* Large devices */
 @media (max-width: 800px) and (min-width: 626px) {  
    .populares h6 {
        display: flex;
        justify-content: center;
        align-items: center;

        font-weight: 500;
        font-size: 20px;
        color: white;
        width: 70%;
    }
 }

 /* Medium devices */
 @media (max-width: 625px) and (min-width: 420px){
    .populares h6 {
        display: flex;
        justify-content: center;
        align-items: center;

        font-weight: 500;
        font-size: 20px;
        color: white;
        width: 70%;
    }
 }

  /* Small devices */
  @media (max-width: 419px) and (min-width: 300px){
    .populares h6 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-weight: 500;
        font-size: 20px;
        color: white;
        
    }
    .populares .cartas .card h6{
        padding: 0;
        margin-top: 10px;
    }
    .populares .cartas .card .precio{
        width: 100%;
    }
    .footerlist {
        padding: 1em;
    }
    section {
        padding: 1em;
    }
    footer {
        padding: 1em;
    }
 }

